body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 50px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#content {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

h2 {
    color: #333;
}

p {
    color: #666;
    line-height: 1.6;
}

.button-container {
    text-align: center;
    margin-top: 20px; /* Adjust as needed */
}

button {
    /* Your existing button styles */
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

/* Styles for Basic Information section */
.basic-info {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.basic-info h2 {
    color: #333;
    text-align: center;
}

.basic-info p {
    color: #666;
    line-height: 1.6;
}

.basic-info ul {
    list-style-type: none;
    padding: 0;
}

.basic-info ul li {
    margin-bottom: 10px;
    color: #444;
}

.basic-info ul li::before {
    content: "\2022"; /* Bullet character */
    color: #4CAF50; /* Bullet color */
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
